@model UserMangmentSystem.Model.Employee
<html>
<head>

</head>

<body>
    <h1> Details of Employee</h1>

    <div>
        Name : @ model.Name
    </div>
    <div>
        Email : @ model.Email
    </div>
    <div>
        Department : @model.Department
    </div>

</body>

</html>
